<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/trainer/register/trainer/" method="post">
        {% csrf_token %}
        Username: <input type="text" name="username"> <br>
        Password: <input type="password" name="password"> <br>
        First name: <input type="text" name="first_name"> <br>
        Last name: <input type="text" name="last_name"> <br>
        Email: <input type="email" name="email"> <br>
        Description: <textarea name="description"></textarea>
        <br>
        <input type="submit">
    </form>>    
</body>
</html>