<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainer</title>
</head>
<body>
<hr>
<h2>Details</h2>
Name: {{ trainer.trainer.first_name }} <br>
Last name: {{ trainer.trainer.last_name }} <br>
Username: {{ trainer.trainer.username }} <br>
Email: {{ trainer.trainer.email }} <br> <br>
About me: <br>
{{ trainer.text }}
<hr>
<h2>Services</h2>
{% if services.count > 0 %}
    <table>
        <thead>
        <tr>
            <th>Price</th>
            <th>Category</th>
            <th>Duration</th>
            <th>Level</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>${{ service.price }}</td>
                <td>{{ service.category.name }}</td>
                <td>{{ service.duration }} min</td>
                <td>{{ service.level }}</td>
                <td><a href="/trainer/{{ service.trainer.id }}/{{ service.id }}">
                    More Details
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>This trainer haven`t published any services yet</p>
{% endif %}
<hr>
</body>
</html>